html{
    scroll-behavior: smooth;
    position: relative;
  }
  
  body{
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
  }
  
  p{
    font-size: 20px;
  }
  .header{
    font-size: 25px;
  }

  .header2{
    font-size: 20px;
  }

  header img{
    padding-left: 20px;
    width: 60px;
    float: left;
  }

  .nav_links{
    display:flex; 
    flex-direction:column;
    align-items: center;
    list-style: none;
    font-size: 20px;
    text-transform: lowercase;
    /* overflow: hidden; */
  }
  
  .nav_links a{
    text-decoration: none;
    color: #000000;
  }

  .nav_links .current{ 
    color: #000000; 
    font-weight: bolder;
    text-transform: uppercase;
  }


  .nav_item{
    padding-right: 20px;
  } 
  
  nav a:hover{
    text-decoration: underline;
  }
  
  .title {
    color: var(--black);
  }
  
  .title h1 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 6px;
    text-transform: uppercase;
  }

  .title h3 {
    font-size: 18px; 
    font-weight: 500; 
    text-transform: uppercase; 
    letter-spacing: 6px;
    line-height: 0;
  }

  .name{
    padding-left: 20px;
    color: #1565b1;
    text-decoration: none;
    /* font-style: bolder; */
    font-size: 25px;
   }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
  }
  
 
  div{
    padding: 0px 15px;
  }

  
  a.skip{
    background: #ffffff;
    left: 0;
    padding: 6px;
    z-index: 1;
    top: -60px;
    position: absolute; 
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out; 
    overflow: hidden;
  }
  
  
  a.skip:focus, a.skip:active{
    overflow: visible;
    top: 0; 
    left:0;
    text-align: center;
    border: 2px solid #000000; 
  }
  
  footer{
    display: flex;
    width: 100%;
    background-color:#ffffff;
    color: #000000;
    text-align: center;
    font-size: 16px;
  }

  .foot{
    margin: 0 auto;
  }

  ul#footer-table li{
    display:inline;
    margin-right: 15px;
  }

  #gallery{
    /* min-height: 100px; */
    display: flex;
    flex-wrap: wrap;
    border-top: 5px solid #a0b4ba;
  }
  
  #gallery img{
    margin: 0 auto;
    width: 100%;
    /* display: block; */
    padding-top: 20px;
  }

  .image-hover, .image-hover-large{
    margin-bottom: 20px;
    height: 100%;
    width: 500px;
    transition: transform 1s;
}

/* .image-hover{
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
  &:hover {
      border: 1px solid gray;
      filter: brightness(130%);
      -webkit-filter: brightness(130%);
      -moz-filter: brightness(130%);
      -o-filter: brightness(130%);
      -ms-filter: brightness(130%);
      -webkit-transition: all 0.50s;
      transition: all 0.50s;
  }
} */

  /* About Page CSS */
  
  .pro-pic{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    /* padding-top: 15px; */
}

.propic> img{
  width: 300px;
}

.propic{
  grid-column: 1fr;
  /* margin-top: 50px; */
  margin-left: 10px;
}

  .about h1{
    background-color: #e0f2f1;
    -webkit-animation-name: change;
    animation-name: change;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
  }
  
  @-webkit-keyframes change{
    from {background-color: #e0f2f1;}
    to  {background-color: #a0b4baab;}
  }
  @keyframes change{
    from {background-color: #e0f2f1;}
    to  {background-color: #a0b4baab;}
  }
  
  
  .about h2{
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .05em;
    animation: typing 4.5s steps(40, end);
    -webkit-animation: typing 5.5s steps(40, end);
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  /* tablets  */
  @media screen and (min-width: 750px){ 
  
    body{
      font-size: 16px;
    }
  
    .header{
    font-size: 30px;
  }

  .header2{
    font-size: 20px;
  }

  p{
    font-size: 25px;
  }
    .nav_links{
      flex-direction: row;
      justify-content: center;
      margin-left: 15px;
      /* text-align: right; */
    }

    .nav_links .nav_item{
      padding-right: 20px;
    }

    footer{
      font-size: 13px;
    }

    .pro-pic{
      display: grid;
      grid-template-columns: 400px 1fr;
      grid-template-rows: 1fr;
      padding-left: 15px;
    }
  
    .propic{
      padding-top: 75px;
    }

    .propic > img{
      width: 350px;
    }
      /* padding-top: 15px; */
  }


   /* #gallery{
     display: flex;
    flex-wrap: nowrap;
  }  */

  /* desktop */
  @media screen and (min-width: 1025px){

    body{
      font-size: 30px;
    }
  
    .header{
      font-size: 40px;
    }
  
    .header2{
      font-size: 25px;
    }

    .nav_links{
      flex-direction:row;
      justify-content: flex-end;
    }
  
    header{
      flex-direction: row;
    }

    .propic{
      padding-top: 90px;
    }
  
    .propic >img{
      width: 315px;
    }

    #gallery{
      /* min-height: 100px; */
      display: flex;
      flex-wrap: nowrap;
      justify-content: center; 
      justify-content: space-evenly;
      align-items: center;
      border-top: 5px solid #a0b4ba;
    }
    
    }
    @media screen and (prefers-reduced-motion: reduce){

    html{
      scroll-behavior: auto;
    }
  }
  